*{
    padding: 0px;
    margin: 0px;
}
/*~~/ Seletores /~~*/

header{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

body{
    height: 900px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto;
    padding: 5px;
    background: linear-gradient(180deg, #08508F, #08E1DB,#09E15E)
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #09E15E;
    text-decoration: none;
}

h1{
    align-items: center;
    text-align: center;
}

main{
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
    border-radius: 12px;
    display: flex;
    padding-top: 10px;
}


footer {
    display: flex;
    background-color: #171717;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    height: 30px;
    margin: auto;
}

/*~~/ Classes /~~*/
.h3spanmain{
    width: 90%;
    height: 80%;
    text-align: center;
}

.spanmain{
    width: 100%;
    text-align: justify;
    margin: 5px;
}
.pspanmain{
    padding: 5px;
    margin: 10px;
    width: 80%;
    height: 90%;
}

/*~~/ IDS /~~*/



#h1Safe{
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#spanSafe:hover{
    color: #09E15E;
}

#navbar{
    border-radius: 10px;
    font-size: 1.5rem;
    margin: auto;

}

#ulnav{
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: flex;
    color: white;
    border-radius: 12px;
    background-color: #171717;
    height: 60px;
}   

#linav{
    list-style: none;
    font-weight: bolder;
}


/*vars*/
:root {
    --color-neutral-0:#0c0e0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;
}
