*{
    margin: 0px;
    padding: 0px;
}

/*Classes*/

.navbar{
    background-color: #bfe18f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: medium;
    height: 15px;
    padding-left: 10px;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
}

.navbar2{
    background-color: #bfe18f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: medium;
    height: 30px;
    padding-left: 10px;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 10px;
    text-align: right;
}

/*Seletores*/

a:link{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:visited{
    color: black ;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: #082048;
    text-decoration: none;
}

body{

    background-color:#eff7e4;
    position: fixed;
}

hr{
    border: 0px;
}

h2{
    align-items: center;
    text-align: center;
    font-size: 65px;
    color:#082048;
    padding-top: 50px;
}

h3{
    font-size: 30px;
    color: #082048;
    align-items: center;
    text-align: center;
}

h4{
    font-size: 30px;
    font-size: 30px;
    color: #082048;
    align-items: center;
    text-align: center;
}

/*ids*/

#section1{
    width: 33.3vh;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    display: flex;
}

#section2{
    width: 33.3vh;
    color: #082048;
    padding-top: 15px;
    align-items: center;
    text-align: justify;
    width: 50%;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    display: flex;
    padding-bottom: 20px;
}
#section3{
    width: 33.3vh;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    display: flex;
    flex-direction: column;
}

#spanspace{
    color: #bfe18f;
}

#div-main{
    display: flex;
    flex-direction: row;
    background: #bfe18f;
    align-items: center;
    text-align:center;
    justify-content: center;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 12px;
}

#imgtitulo{
    width: 70px;

}

#imgsec{
    padding-top: 15px;
    width: 40%;
}

#a-clique{
    font-size: 30px;
    padding-left: 800px;
    align-items: center;
    text-align:center;
}

/* Links auxiliares

https://paletadecores.com/paleta/76cf2a/91db44/abe75f/c6f379/e0ff93/

https://icons8.com.br/icon/set/finan%C3%A7as/fluency

*/