*{
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 60hv;
}

li{
    margin: 5px;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

h1{
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 50px;
    width: 80hv;
}

h2{
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    width: 80hv; 

    
}



/*IDS*/
#navbar{
    margin: 25px;
    padding: 30px;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(255, 0, 179);
    background-color: #549B68;
    height: 5vh;

}

#bodyid{
    border: 1px solid rgb(18, 52, 85);
    height: 90hv;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sectionid{
    border: 1px solid green;  
    height: 150hv;
    justify-content: space-around;
    align-items: center;

}

#rodape{
    border: 1px solid green;
    height: 100px;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    width: 80hv;
}

#spamSafe{
    color: #32F068;

}

#spamNanças{
    color:#549B68;
}

#spamTm{
    font-size: 70%;
}

#articleid{
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: justify;

}

#ulmain{
    font-size: 80%;
    margin: 10px;
}

#pmain{
    text-align: center;
}

#limain{
    font-size: 100%;
}




/* Links auxiliares

https://paletadecores.com/paleta/76cf2a/91db44/abe75f/c6f379/e0ff93/

https://icons8.com.br/icon/set/finan%C3%A7as/fluency

*/